@page "/registration-confirmation"

<div class="ma-6 d-flex justify-center">
    <MudChip Color="Color.Primary">
        <h3>Registration Success. Please Login!</h3>

    </MudChip>
</div>

@code {

}
